.img-head img{
    margin-top: 75px;
}
@media(max-width: 750px){
    .img-head img{
        margin-top: 110px;
    }
}
.cart-page table tr{
    border: 1px solid #42210b;
}
.cart-page{
    margin: 80px auto;
}
.cart-page table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-page table tr th{
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #42210b;
    font-weight: 400;
}
.cart-page td{
    padding: 10px 5px;
    width: 20%;
    text-align: center;
}
td img{
    width: 50%;
}
td p{
    margin-top: 17px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px    ;
}

td .input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
td .input span{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
}
td .input input{
    width: 100px;
    outline: none;
    text-align: center;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}
.total-price table{
    border-top: 3px solid #42210b;
    width: 100%;
    max-width: 500px;
}
.total-price table td{
    padding: 10px;
}
.total-price td:last-child{
    text-align: right;
}
.total-price th:last-child{
    text-align: right;
}
.total-price a .btn{
    width: 164%;
    font-size: 18px;
}
.total-price a{
    text-decoration: none;
    color: #42210b;
}

.total-price a .btn-pay{
    width: 100%;
    height: 20%;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    background: #42210b;
    transition: 0.4s;
    border: none;
    outline: none;
}

.total-price a .btn-pay:hover{
    background: #65391c;
}

.input-amount{
    border: none;
    text-align: center;
}

button{
    border: none;
    outline: none;
    background-color: #fff;
}
